@import url("https://file.myfontastic.com/9L2j4suCPY7mwKXm7E7v6A/icons.css");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");
@import url("https://necolas.github.io/normalize.css/5.0.0/normalize.css");
body {
  margin: 0;
  padding: 0;
  font-family: Montserrat, sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  color: #193240;
}
a {
  color: inherit;
  text-decoration: inherit;
}
.active {
  color: #26d2cc !important;
}
.signup {
  cursor: pointer;
}
.cover {
  position: relative;
  background: url("https://i.pi.gy/GeJv.png") no-repeat center center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  transition: height 999999s;
}
.cover h1 {
  font-size: 4vw;
  color: #26d2cc;
  text-shadow: 0 2px 11px #000;
  text-align: center;
  line-height: 60vh;
}
.cover .bounce {
  animation: bounce 2s infinite;
}
.cover .arrow {
  width: auto;
  max-width: 1440px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
}
.cover .arrow::after {
  content: '';
  display: table;
  clear: both;
}
@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
@-o-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
.header {
  display: flex;
  justify-content: flex-end;
  padding: 5vh 6vh;
  position: relative;
  list-style-type: none;
  margin: 0;
}
.header .icon {
  font-size: 2.5em;
  color: #fff;
  text-shadow: 0 2px 4px rgba(0,0,0,0.35);
}
.header .icon-combined-shape {
  padding-top: 1px;
  font-size: 2.7em;
}
.header .signup {
  align-self: center;
  padding-bottom: 5px;
  margin-top: -20px;
  margin-left: 30px;
  font-size: 1.2em;
  color: #fff;
  text-shadow: 0 2px 4px rgba(0,0,0,0.35);
  border-bottom: 3px solid #26d2cc;
  box-shadow: 0 8px 13px -6px rgba(0,0,0,0.25);
}
.header .icon-logo {
  margin-right: auto;
  font-size: 2.5em;
  color: #26d2cc;
  text-shadow: 0 2px 4px rgba(0,0,0,0.35);
}
h4 {
  margin-left: 20px;
  margin-bottom: 30px;
}
h6 {
  font-size: 0.65em;
  text-align: center;
  width: 91%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.movie-list {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: space-around;
  list-style-type: none;
}
.bgimg {
  position: absolute;
  z-index: -1;
  filter: blur(10px);
  transform: scale(1.05);
}
.posterimg {
  height: 278px;
  width: 185px;
}
.movietitle {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 186px;
  margin-top: -5px;
  z-index: 1;
  background: #fff;
  box-shadow: 0 -17px 30px 0 rgba(0,0,0,0.52);
}
.popular {
  position: relative;
  margin-top: 100px;
}
.popular .bgcover {
  width: 100%;
}
.popular .heading {
  position: absolute;
  top: -30px;
  left: 40px;
  width: 250px;
  display: flex;
  align-content: center;
  justify-content: center;
  height: 60px;
  background: #fff;
  box-shadow: 0 2px 13px 0 rgba(0,0,0,0.5);
}
.popular .pinfo {
  background: #fff;
  box-shadow: 0 3px 56px 0 rgba(0,0,0,0.24);
  text-transform: none;
  position: absolute;
  transform-style: preserve-3d;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 44%;
}
.popular .pinfo .details {
  float: left;
  clear: none;
  text-align: inherit;
  width: 65.66666666666666%;
  margin-left: 0%;
  margin-right: 3%;
}
.popular .pinfo .details::after {
  content: '';
  display: table;
  clear: both;
}
.popular .pinfo .details:last-child {
  margin-right: 0%;
}
.popular .pinfo .poster {
  float: left;
  clear: none;
  text-align: inherit;
  width: 31.33333333333333%;
  margin-left: 0%;
  margin-right: 3%;
}
.popular .pinfo .poster::after {
  content: '';
  display: table;
  clear: both;
}
.popular .pinfo .poster:last-child {
  margin-right: 0%;
}
.popular .pinfo h2 {
  margin-top: 12%;
  margin-bottom: 5%;
  font-size: 1.4em;
  display: inline-block;
  text-transform: uppercase;
}
.popular .pinfo .date {
  font-size: 1.4em;
  color: #26d2cc;
  margin-left: 5px;
}
.popular .pinfo .overview {
  margin: 0;
  font-weight: 100;
  font-size: 12px;
  line-height: 15px;
  width: 70%;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}
.popular .pinfo .info {
  position: absolute;
  bottom: 15px;
}
.popular .pinfo .info .duration {
  display: inline-block;
  font-size: 9px;
  margin-left: 5px;
}
.popular .pinfo .info .stars {
  display: inline;
  margin-left: 40px;
  margin-bottom: -5px;
}
.popular .pinfo .info .score {
  margin-left: 10px;
  display: inline-block;
  font-size: 9px;
}
.recommended {
  margin-bottom: 50px;
  margin-top: 30px;
}
.backdropbg {
  height: 80vh;
  margin-top: -18vh;
  overflow: hidden;
  background-image: linear-gradient(1deg, rgba(21,43,55,0.87) 0%, rgba(0,0,0,0) 67%, rgba(21,43,55,0.87) 100%);
}
.backdrop {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
  z-index: -3;
}
.moviename {
  position: absolute;
  bottom: 20vh;
  left: 320px;
  z-index: 2;
  font-size: 60px;
  color: #fff;
  text-shadow: 0 4px 10px rgba(0,0,0,0.62);
}
.playposter {
  margin-left: 100px;
  margin-top: -145px;
}
.playposter .movieposter {
  width: 185px;
  height: 277px;
  box-shadow: 0 2px 14px 0 rgba(0,0,0,0.5);
}
.playposter .playbutton {
  position: relative;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  color: #fff;
  background: #26d2cc;
  box-shadow: 0 0 7px 0 rgba(0,0,0,0.28);
  border-radius: 100px;
  margin-left: 1px;
  margin-top: 17px;
  width: 184px;
  height: 35px;
}
.playposter .playbutton .playnow {
  font-size: 1em;
  margin-bottom: 12px;
}
.playposter .playbutton .icon-play {
  font-size: 0.9em;
  margin-left: 10px;
  margin-top: 5px;
}
.pagedetails {
  display: flex;
  justify-content: flex-start;
  position: relative;
  list-style-type: none;
  margin-top: -170px;
  margin-bottom: 30px;
  margin-left: 291px;
  text-shadow: 0 1px 1px rgba(0,0,0,0.35);
}
.pagedetails .dicon {
  color: #26d2cc;
  margin-right: 6px;
}
.pagedetails .releasedate {
  padding-right: 30px;
}
.pagedetails .startmdb {
  margin-left: auto;
}
.pagedetails .score {
  padding-left: 10px;
  padding-right: 70px;
}
.movieoverview {
  background: #fff;
  box-shadow: 0 3px 21px 0 rgba(0,0,0,0.2);
  margin-left: 320px;
  margin-bottom: 70px;
  width: 45%;
  padding: 0.5% 2%;
}
.movieoverview .overviewtitle {
  font-size: 1.3em;
  margin-bottom: 30px;
}
.movieoverview .overviewtext {
  text-transform: none;
  font-size: 1.1em;
  font-weight: 100;
  line-height: 30px;
  padding-bottom: 28px;
}
.cast-list {
  position: relative;
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  width: 90%;
  margin: 70px auto;
  padding-top: 35px;
  padding-bottom: 15px;
  box-shadow: 0 2px 28px 0 rgba(0,0,0,0.16);
}
.cast-list .castheading {
  position: absolute;
  font-size: 1.6em;
  top: -42px;
  left: 25px;
}
.cast-list .cast-item {
  width: 60%;
  text-align: center;
  text-transform: none;
}
.cast-list .cast-item .avatar {
  box-shadow: 0 3px 13px 2px rgba(0,0,0,0.48);
  border-radius: 100px;
}
.cast-list .cast-item .castname {
  white-space: nowrap;
  margin-top: 28px;
  margin-bottom: 0;
  line-height: 0px;
}
.cast-list .cast-item .castcharacter {
  color: #26d2cc;
  font-size: 0.9em;
}
.moviecontainer {
  position: relative;
  width: 92.9%;
  padding: 36px 0;
  margin: 70px auto;
  box-shadow: 0 2px 28px 0 rgba(0,0,0,0.16);
}
.moviecontainer .similarheading {
  position: absolute;
  font-size: 1.6em;
  top: -40px;
  left: 25px;
}
.moviecontainer .movie-item:nth-child(6) {
  display: none;
}
.back {
  margin-top: -15px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin-right: auto;
  font-size: 1.2em;
  color: #26d2cc;
  text-shadow: 0 2px 4px rgba(0,0,0,0.35);
}
.back .icon-play {
  transform: scale(-1, 1);
  padding-left: 10px;
  margin-top: 3px;
}
.searchinput {
  font-family: Montserrat;
  margin-right: auto;
  color: #fff;
  padding: 10px 10px 10px 5px;
  display: block;
  border: none;
  width: 30%;
  border-bottom: 2px solid #26d2cc;
  background-color: transparent;
  outline: none;
}
.searchinput::placeholder {
  color: #fff;
}
.searchcover {
  position: relative;
  background: url("https://i.pi.gy/GeJv.png") no-repeat center center;
  background-size: cover;
}
.search-list {
  display: flex;
  width: 80%;
  margin: 0 auto;
  justify-content: flex-start;
  flex-wrap: wrap;
  list-style-type: none;
}
.search-list .movie-item {
  margin-top: 10px;
  margin-bottom: 30px;
  margin-left: 30px;
}
form {
  width: 100%;
  height: 550px;
  display: flex;
  flex-direction: column;
  align-content: space-around;
  align-items: center;
}
form h2 {
  margin-bottom: 60px;
  margin-top: 70px;
}
form input {
  font-family: Montserrat;
  color: #193240;
  padding: 10px 10px 10px 5px;
  border: none;
  border-bottom: 2px solid #26d2cc;
  background-color: transparent;
  outline: none;
  margin-bottom: 50px;
}
form input::placeholder {
  color: #26d2cc;
}
.button {
  font-family: Montserrat;
  outline: none;
  border: none;
  position: relative;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  color: #fff;
  background: #26d2cc;
  box-shadow: 0 0 7px 0 rgba(0,0,0,0.28);
  border-radius: 100px;
  margin-left: 1px;
  margin-top: 17px;
  width: 184px;
  height: 35px;
}
.fullscreenbutton {
  z-index: 1000;
  opacity: 0;
  position: fixed;
  transform: scale(0.8);
  right: -18px;
  bottom: 4px;
}
.fullscreenbutton:hover {
  opacity: 0.8;
}
@media screen and (max-width: 1150px) {
  .pinfo {
    width: 55% !important;
  }
  .movie-list .movie-item:nth-child(6) {
    display: none;
  }
}
@media screen and (max-width: 950px) {
  h4 {
    margin-left: 10%;
  }
  .pinfo {
    width: 60% !important;
  }
  .movie-list {
    justify-content: space-between;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
  }
  .movie-list .movie-item {
    margin-bottom: 40px;
  }
  .movie-list .movie-item:nth-child(3n-1) {
    margin: 0px 30px;
  }
  .movie-list .movie-item:nth-child(6) {
    display: initial;
  }
}
@media screen and (max-width: 770px) {
  .arrow {
    width: 50px !important;
  }
  .pinfo {
    width: 80% !important;
  }
  .movie-list {
    justify-content: space-between;
  }
  .movie-list .movie-item:nth-child(3n-1) {
    margin: 0px 0px;
  }
}
@media screen and (max-width: 620px) {
  .heading {
    height: 40px !important;
    width: 200px !important;
    font-size: 0.7em;
  }
  .pinfo {
    width: 90% !important;
  }
  .pinfo .overview {
    width: 90% !important;
  }
  .pinfo .date {
    display: none;
  }
}
@media screen and (max-width: 464px) {
  .arrow {
    width: 37px !important;
  }
  h4 {
    margin-bottom: -10px !important;
  }
  .signup {
    display: none;
  }
  .movie-list {
    width: 97%;
    justify-content: center;
  }
  .movie-list .movie-item {
    transform: scale(0.8);
    margin-bottom: 20px;
  }
  .movie-list .movie-item:nth-child(2) {
    margin-top: -1%;
  }
  .pinfo {
    width: 100% !important;
  }
  .pinfo .overview {
    width: 90% !important;
    margin-bottom: 10px !important;
    font-size: 10px !important;
  }
  .pinfo h2 {
    font-size: 1em !important;
  }
  .info {
    bottom: 5px !important;
  }
}
@media screen and (max-width: 383px) {
  .arrow {
    width: 33px !important;
  }
  .heading {
    display: none !important;
  }
  .movie-list {
    justify-content: space-between;
  }
  .movie-list .movie-item {
    transform: scale(0.7);
    width: 50%;
  }
}
@media screen and (max-width: 350px) {
  .overview {
    -webkit-line-clamp: 3 !important;
  }
  .stars {
    margin-left: 10px !important;
  }
}
@media screen and (max-width: 1000px) {
  .movieoverview {
    width: 60%;
  }
  .cast-item {
    transform: scale(0.8);
    margin-left: -30px;
  }
  .moviecontainer {
    padding: 10px 10px;
  }
  .moviecontainer .movie-item {
    transform: scale(0.87);
  }
}
@media screen and (max-width: 900px) {
  .moviename {
    bottom: 300px;
    font-size: 55px;
  }
  .playposter {
    margin-top: -450px;
    margin-left: 100px;
  }
  .pagedetails {
    color: #fff;
    margin-top: -30px;
    margin-bottom: -30px;
    font-size: 0.92em;
  }
  .pagedetails .startmdb {
    margin-left: 30px;
  }
  .movieoverview {
    margin: 0 auto;
    margin-top: 190px;
    width: 90%;
  }
  .movieoverview .overviewtitle {
    padding-left: 10px;
  }
  .movieoverview .overviewtext {
    padding-left: 10px;
    padding-right: 10px;
  }
  .moviecontainer .movie-list {
    justify-content: space-between;
  }
  .moviecontainer .movie-item:nth-child(3n-1) {
    margin: 0px 0px;
  }
}
@media screen and (max-width: 800px) {
  .moviename {
    display: none;
  }
  .playposter {
    width: 185px;
    margin: 0 auto;
    margin-top: -60vh;
  }
  .playposter .playbutton {
    margin-top: -15px;
    width: 200px;
    margin-left: -5px;
  }
  .pagedetails {
    margin: 0;
    margin-bottom: -150px;
    margin-top: 18px;
    margin-left: 50px;
    justify-content: center;
  }
  .cast-list {
    flex-wrap: wrap;
  }
  .cast-list .cast-item {
    width: 40% !important;
  }
}
@media screen and (max-width: 554px) {
  .pagedetails {
    margin-left: 35px;
    font-size: 0.7em;
  }
}
@media screen and (max-width: 500px) {
  .pagedetails {
    margin-left: -30px;
  }
  .pagedetails .score {
    padding-right: 0;
  }
  .moviecontainer .movie-list {
    justify-content: flex-start;
  }
  .moviecontainer .movie-item {
    width: 50%;
  }
}
@media screen and (max-width: 400px) {
  .playbutton {
    display: none !important;
  }
  .castname {
    white-space: wrap;
  }
  .backdropbg {
    height: 100vh;
    margin-top: -30vh;
  }
  .playposter {
    transform: scale(0.8);
    margin-top: -70vh;
  }
  .moviecontainer .movie-list {
    margin-left: 0px;
  }
  .moviecontainer .movie-item {
    transform: scale(0.7);
  }
  .cast-item {
    transform: scale(0.7);
  }
}
@media screen and (max-width: 330px) {
  .pagedetails {
    visibility: hidden;
  }
}
